@section head {
   <title>Razor and XSLT</title>
}
<ul>
   <li>
      <a href="@Url.Action("WithRazorLayout", "RazorView")">Razor view with Razor layout</a>
   </li>
   <li>
      <a href="@Url.Action("WithXsltLayout", "RazorView")">Razor view with XSLT layout</a>
   </li>
   <li>
      <a href="@Url.Action("WithXsltLayout", "XsltView")">XSLT view with XSLT layout</a>
   </li>
   <li>
      <a href="@Url.Action("WithRazorLayout", "XsltView")">XSLT view with Razor layout</a>
   </li>
</ul>
